@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins' ,sans-serif;	
}
section
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #112d42;
}
section::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height:100%;
	background: #03a9f4;	
}  
section .container
{
	position: relative;
	min-width: 1100px;
	min-height:550px;
	display:flex;
	z-index: 1000;
	background: #fff;
}
section .container .contactinfo
{
	position: absolute;
	top: 40px;
	width: 350px;
	height: calc(100% - 80px);
	background: #0f3959;
	z-index: 1;
	padding:40px;
	display: flex;
	flex-direction: coloum;
	justify-content: center;
	box-shadow: 0 20px 20px rgb(0, 0, 0.2);
}
section .container .contactinfo h2
{
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}
section .container .contactinfo ul.info
{
	position: relative;
	margin: 20px 0;
}
section .container .contactinfo ul.info li
{
	position: relative;
	list-style: none;
	display: flex;
	margin: 20px 0;
	cursor: pointer;
	align-items: flex-start;
}
section .container .contactinfo ul.info li span:nth-child(1)
{
	width: 30px;
	min-width: 30px;
}
section .container .contactinfo ul.info li span:nth-child(1) img
{
	max-width: 100%;
	filter: invert(1);
	opacity: 0.5;
}

section .container .contactinfo ul.info li span:nth-child(2)
{
	color:#fff;
	margin-left: 15px;
	font-weight: 300;
	opacity: 0.5;
}
section .container .contactinfo ul.info li:hover span:nth-child(1) img,
section .container .contactinfo .info li:hover span:nth-child(2)
{
	opacity: 1;
}
section .container .contactinfo ul.sci
{
	position: relative;
	display: flex;
}
section .container .contactinfo ul.sci li
{
	list-style: none;
	margin-right: 15px;
}
section .container .contactinfo ul.sci li a
{
	text-decoration: none;
}
section .container .contactinfo ul.sci li a img
{
	filter: invert(1)
	opacity: 0.5;
}
section .container .contactinfo ul.sci li:hover a img
{
	opacity: 1;
}
section .container .contsctForm
{
	position:absolute;
	padding: 70px 50px;
	background: #fff;
	margin-left: 150px;
	padding-left: 250px;
	width: calc(100% - 150px);
	height: 100%;
	box-shadow: 0 50px 50px rgb(0,0,0.5);
}
section .container .contsctForm h2
{
	 color: #0f3959;
	 font-size: 24px;
	 font-weight: 500;
}
section .container .contsctForm .fromBox
{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
section .container .contsctForm .fromBox .inputBox
{
	position: relative;
	margin: 0 0 35px 0;
}
section .container .contsctForm .fromBox .inputBox.w50
{
	width: 47%
}
section .container .contsctForm .fromBox .inputBox.w100
{
	width: 100%
}
section .container .contsctForm .fromBox .inputBox input,
section .container .contsctForm .fromBox .inputBox textarea
{
	width: 100%; !importent;
	padding: 5px 0;
	resize: none;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	border: none;
	border-bottom: 1px solid #777;
	outline: none;
}
section .container .contsctForm .fromBox .inputBox textarea
{
	min-height: 120px;
}
section .container .contsctForm .fromBox .inputBox span
{
	position: absolute;
	left: 0;
	padding: 5px;
	font-size: 18px;
	font-weight: 300;
	color: #333;
	transition: 0.3s;
	pointer-events: none;
}
section .container .contsctForm .fromBox .inputBox input:focus ~ span,
section .container .contsctForm .fromBox .inputBox textarea:focus ~ span,
section .container .contsctForm .fromBox .inputBox input:valid ~ span,
section .container .contsctForm .fromBox .inputBox textarea:valid ~ span
{
	transform: translatey(-20px);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #ff568c;
}
section .container .contsctForm .fromBox .inputBox input[type="submit"]
{
	position: relative;
	cursor: pointer;
	background: #03a9f4;
	color: #fff;
	border: none;
	max-width: 150px;
	padding: 12px;
}
section .container .contsctForm .fromBox .inputBox input[type="submit"]:hover
{
	background: #ff568c;
}

@media (max-width : 1200px)
{
	section .container
	{
		width: 90%;
		min-width: auto;
		margin: 20px;
		box-shadow: 0 20px 50px rgba(0,0,0,0.2);
	}
	section .container .contactinfo
	{
		top: 0;
		height: 500px;
		position: relative;
		box-shadow: none;
	}
	section .container .contsctForm
	{
		position: relative;
		width: calc(100% - 350px);
		padding-left: 0;
		margin-left: 0;
		padding: 40px;
		height: 550px;
		box-shadow: none;
	}
}
@media (max-width : 991px)
{
	section
	{
		background: #03a9f4;
	}
	section::before
	{
		display: none;
	}
	section .container
	{
		display: flex;
		flex-direction: column-reverse;
	}
	section .container .contsctForm
	{
		width: 100%;
		height: auto;
	}
	section .container .contactinfo
	{
		width: 100%;
		height: auto;
		flex-direction: row;
	}
	section .container .contactinfo ul.sci
	{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width : 600px)
{
	section .container .contsctForm
	{
		padding: 25px;
	}
	section .container .contactinfo
	{
		padding: 25px;
		flex-direction: coloum;
		align-items: flex-start;
	}
	section .container .contactinfo ul.sci
	{
		margin-top: 40px:
	}
	section .container .contsctForm .formBox.w50
	{
		width: 100%
	}
}








